
.movie-backgroun-image {
    position: relative;
    width: 100vw;
    height: 40vw;
  }
  
  .movie-backgroun-image::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(33,36,38,0), rgba(33,36,38,0.98));
  }


  .movie-backgroun-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

 
  
  .movie-poster-moviePage img{
    position: absolute;
    top: 37%;
    left: 12%;
    width: 300px;
    height: 450px;
    border-radius: 10px;
  }

  .movie-title-moviePage {
    position: absolute;
    top: 54%;
    left: 32%;
  }

  .tralier-container{
    position: absolute;
    top: 80%;
    left: 30%;
    width: 300px;
    height: 450px;
  }

  .reviews{
    position: absolute;
    top: 140%;
    left: 20%;
  }